<h1>Select your feed</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag({:controller => "page", :action => "show"}, :method => "post") do %>

      <%= select_tag(:feed_id, options_for_select([["YCombinator", "1"], ["Google News", "2"], ["Wired", "3"], ["Yahoo! news", "4"]])) %>

      <%= submit_tag "Get feed" %>
    <% end %>
  </div>
</div>
